
*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  /* https://mycolor.space/gradient */
}
.main{
  width: 90vw;
  margin: 100px auto;
}

.doboz {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 2px 2px 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.ikon:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.sor:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.input{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.mezo{
  width: 300px;
  height: 60px;
  font-size: large;
}
.ikonok-kepek{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.sor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}