body{
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(10, 117, 119, 1) 20%, rgba(19, 228, 232, 1) 50%, rgba(0, 133, 135, 1) 80%, rgba(0, 0, 0, 1) 100%);
}
.main{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.container{
    width: fit-content;
    border: 1px solid;
    background: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
.kartya{
    background: lightgreen;
    border: 1px solid;
    width: 150px;
    height: 200px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}
.input{
    background: white;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}